1. Utilizando o loop While, crie um programa que mostrar na tela os valores ímpares entre 0 e 100.

2. Utilizando o loop While, crie um programa que mostrar na tela os valores pares entre 100 e 0. Mostre do maior para o menor.

3. Crie uma lista dos peixes que você conhece, em seguida percorra a essa lista usando o loop for, até encontrar um peixe qualquer digitado pelo usuário.

4. Crie um programa usando a função range(), para gerar valores 3 a 214, incrementando 5 valores por vez.

5. Sabendo que a copa do mundo começou em 1930 e que ela se repete a cada 4 anos, mostre os anos que houve copa. (Faça duas respostas, uma usando while, outra usando o for)

In [3]:
i = 0
while i <= 100:
  if i%2!=0:
    print(i)
  i=i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [5]:
i = 100
while i >= 0:
  if i%2==0:
    print(i)
  i=i-1

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2
0

In [27]:
peixes = ["piramutaba", "piraíba", "pirarara", "jaú", "surubin", "matrinxã", "tambaqui", "pirapitinga"]
busca = input("Verifique se eu conheço o peixe de aguá doce que você digitou ")
cont = 0
for i in peixes:
  if busca == i:
    print("O peixe digitado está presente na minha lista")
    cont = 1
    break
if(cont!=1):
  print("Não conheço esse peixe")

Verifique se eu conheço o peixe de aguá doce que você digitou ovo
Não conheço esse peixe

In [29]:
for i in range(3, 214, 5):
  print(i)

3
8
13
18
23
28
33
38
43
48
53
58
63
68
73
78
83
88
93
98
103
108
113
118
123
128
133
138
143
148
153
158
163
168
173
178
183
188
193
198
203
208
213

In [32]:
for i in range(1930, 2022, 4):
  print(i)

1930
1934
1938
1942
1946
1950
1954
1958
1962
1966
1970
1974
1978
1982
1986
1990
1994
1998
2002
2006
2010
2014
2018

In [34]:
i=1930
while i < 2022:
  print(i)
  i+=4

1930
1934
1938
1942
1946
1950
1954
1958
1962
1966
1970
1974
1978
1982
1986
1990
1994
1998
2002
2006
2010
2014
2018